trunk/java.prj/sv65Ecc_ofbiz_component/resource/templates.applications/conf_tree_1_0.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT calc (param*)>
<!ATTLIST calc
	calc_class_name CDATA #REQUIRED
	calc_start_level CDATA #REQUIRED
	calc_stop_level CDATA #IMPLIED
>
<!ELEMENT monitor EMPTY>
<!ATTLIST monitor
	monitor_type CDATA #REQUIRED
>
<!ELEMENT node (calc* | selector* | node* | param*)*>
<!ATTLIST node
	id CDATA #REQUIRED
>
<!ELEMENT param EMPTY>
<!ATTLIST param
	id CDATA #REQUIRED
	value CDATA #REQUIRED
	type CDATA #REQUIRED
>
<!ELEMENT root (tree*)>
<!ELEMENT selector EMPTY>
<!ATTLIST selector
	oper CDATA #REQUIRED
	key CDATA #REQUIRED
	value CDATA #IMPLIED
>
<!ELEMENT tree (monitor+, node*)>
<!ATTLIST tree
	aggregator_id CDATA #REQUIRED
	num_of_buckets CDATA #REQUIRED
	time_interval CDATA #REQUIRED
	timer CDATA #IMPLIED
>
